/* Homepage */
.category {
	.navigation {
		li:nth-child(1) {
			h2.headline {
			}
		}
	}

	.secondary {
		position: absolute;
		top: 170px;
		bottom: 60px;
		left: 61px;
		width: 300px;
		height: calc(100% - 270px);
		-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    margin: 0;
    overflow-y: hidden;
    box-sizing: border-box;
    padding-top: 40px;

    &:before {
	    border-right: 2px solid $yellow;
	    content: " ";
	    display: block;
	    height: 100%;
	    height: calc(100% + 40px);
	    position: absolute;
	    left: 59px;
	    top: -40px;
		}

		&:after {
	    content: " ";
	    height: 16px;
	    width: 16px;
	    border: 2px solid $yellow;
	    border-radius: 50%;
	    display: block;
	    position: absolute;
	    bottom: 0;
	    left: 50px;
	    background: white;
		}

		li {
			position: relative;
			width: 100%;
			display: block;
			top: 0;
			left: 0;
			-webkit-transition: all .25s ease;
    	-moz-transition: all .25s ease;
    	transition: all .25s ease;
    	margin: 0;

    	&:first-child:before {
		    content: " ";
		    height: 16px;
		    width: 16px;
		    border: 2px solid #F9A704;
		    border-radius: 50%;
		    display: block;
		    position: absolute;
		    top: -40px;
		    left: 50px;
		    background: white;
			}

    	.section-link {
    		a {
	    		display: block;
			    height: 120px;
			    padding-left: 30px;
			    padding-top: 30px;
	    	}


				.round {
					width: 60px;
	    		float: left;
	    		padding: 0px;

	    		img {
	    			border: 4px solid $gray-med;
	    		}
				}

				.headline {
					margin: 0;
			    font-size: 15px;
			    font-weight: 200;
			    line-height: 48px;
			    -webkit-transition: all .25s ease;
	    		-moz-transition: all .25s ease;
	    		transition: all .25s ease;
	    		margin-left: 0;
			    padding-top: 30px;
			    line-height: 1.2;
			    text-align: left;
			    height: auto;
			    border-color: $gray;
			    color: $gray;
			    padding: 0 10px 0 60px;
			    width: 220px;
			    position: absolute;
			    left: 60px;
			    top: 35px;
			    height: 50px;
			    z-index: -1;
			    vertical-align: middle;
			    display: table;

			    span {
			    	vertical-align: middle;
			    	display: table-cell;
			    }
				}
			}
		}

		li:nth-child(1) {
		}
	}

	&.category-1 #category-1-link,
	&.category-2 #category-2-link,
	&.category-3 #category-3-link,
	&.category-4 #category-4-link,
	&.category-5 #category-5-link,
	&.category-6 #category-6-link {
		height: 120px;
		padding-top: 0;

		.round {
			width: 100px;
			margin-left: -20px;

			img {
				border-color: $blue;
			}
		}

		.headline {
			display: table;
			vertical-align: middle;
			height: 50px;
			top: 25px;
			color: $blue;
			border-color: $blue;

			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	.timeline {
		position: absolute;
		top: 230px;
		left: 450px;
		width: 1380px;
		height: 725px;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		transition: all .25s ease;
		overflow-x: auto;
		display: block;

		h1 {
			text-align: center;
			text-transform: uppercase;
			font-size: 36px;
			font-weight: 600;
		}

		.timeline-list {
			position: absolute;
			height: 700px;
			margin-left: 60px;

			&:before {
				content: " ";
				display: block;
				width: 104%;
				margin-left: -60px;
				border-top: 3px solid $yellow;
				position: absolute;
				top: 300px;
			}

			&:after {
				content: " ";
		    height: 24px;
		    width: 24px;
		    border: 2px solid $yellow;
		    border-radius: 50%;
		    display: block;
		    position: absolute;
		    top: 287px;
		    left: -60px;
		    background: white;
			}
			
			li {
				position: relative;
				margin-right: 20px;
				float: left;
				border: 1px solid $grey-border;
				
				.timeline-link {
					display: block;
					width: 350px;
					max-width: 100%;
					background: $gray-light;

					&.personal {
						
					}
				
					h2 {
						padding: 10px;
						font-weight: 300;
						background: $blue-light;
						margin: -1px;
						color: $white;
					}

					p {
						padding: 10px;
						margin-bottom: 0;
					}

					span {
						text-align: left;
						font-size: 1.125em;
						display: block;
						padding: 5px 10px;
						text-transform: uppercase;
						color: $gray-med;
					}
				}
			}

			li.type-7 {
				&:before {
					content: " ";
			    height: 16px;
			    width: 16px;
			    border: 2px solid $blue;
			    background: $blue-light;
			    border-radius: 50%;
			    display: block;
			    position: absolute;
			    top: 290px;
			    left: 21px;
			    background: white;
				}

				&:after {
			    content: " ";
			    display: block;
			    border-bottom: 2px solid $blue;
			    transform: rotate(90deg);
			    position: absolute;
			    width: 223px;
			    height: 400px;
			    top: -11px;
			    z-index: -1;
			    left: 120px;
				}
			}

			li.type-8 {
				bottom: -400px;
				pointer-events: none !important;
				border: 0;

				.timeline-link {
					background: $grey;
					color: $white;

					a {
						color: $white;
					}
				}

				h2 {
					background: $grey;
					border-color: darken($gray-med,10%);
					display: none;
				}

				span {
					position: absolute;
					top: -152px;
					font-size: 2em;
					background: $white;
					border-radius: 50%;
			    width: 100px;
			    height: 100px;
			    line-height: 92px;
			    text-align: center;
			    color: $grey;
			    border: 3px solid $grey;

			    &:after {
			    	content: " ";
				    display: block;
				    border-right: 2px solid #9B9B9B;
				    width: 1px;
				    top: 0;
				    position: relative;
				    left: 35px;
				    height: 53px;
			    }
				}
			}

			.personal {

			}

			.world {
				h2 {
					background: $yellow;
					border-bottom: 4px solid $yellow;
					color: $black;
				}
			}
		}

		.timeline-list.personal {
			top: 0;
		}

		.timeline-list.world {
			bottom: 0;

			li {
				bottom: inherit;
				top: 0;

				&:nth-child(1) {
					left: 200px;
				}

				&:nth-child(2) {
					left: 900px;
				}
			}
		}
	}
}

.category.item {
	.timeline {
		position: absolute;
		top: 170px;
		bottom: 60px;
		left: 60px;
		width: 340px;
		height: calc(100% - 270px);
		background: transparent;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		transition: all .25s ease;
		overflow-x: inherit;
		overflow-y: auto;

		h1 {
			font-size: 24px;
			margin: 10px;
			border-bottom: 1px solid;
		}

		.timeline-list {
			position: absolute;
	    height: auto;
	    margin-left: 10px;
	    border-left: 2px solid $yellow;
	    padding-top: 50px;
	    padding-bottom: 50px;

			&:before,
			&:after {
				content: " ";
		    height: 16px;
		    width: 16px;
		    border: 2px solid $yellow;
		    border-radius: 50%;
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 49px;
		    background: white;
			}

			&:after {
				top: inherit;
				bottom: 0;
		    left: -11px;
		    background: white;
			}

			li {
				position: relative;
				bottom: inherit;
				left: 0 !important;
				margin: 0 1% 0px -43px;
				width: 98%;
				border: 0;

				.timeline-link {
					width: 100%;
					background: transparent;
				
					h2 {
						font-size: 18px;
						background: transparent;
						color: $black;
						margin-left: 50px;
						padding-left: 20px;
						text-align: right;
					}

					p {
						display: none;
					}
				}
			}

			li a.type-8 {
				pointer-events: none !important;
				display: none !important;
				visibility: hidden !important;

				h2, p {
					display: none;
				}

				span {
					font-size: 20px;
					background: $white;
					border-radius: 50%;
			    width: 80px;
			    height: 80px;
			    line-height: 74px;
			    text-align: center;
			    color: $grey;
			    border: 3px solid $grey;

			    &:after {
			    	display: none;
			    }
				}
			}

			li a.type-7 {
				h2 {
					background: $blue-light;
					color: $white;
					margin-left: 100px;
					margin-bottom: 10px;
					padding-left: 20px;
					text-align: left;

					&:before {
						content: " ";
				    height: 16px;
				    width: 16px;
				    border: 2px solid $blue-light;
				    background: $blue-light;
				    border-radius: 50%;
				    display: block;
				    position: absolute;
				    top: calc(50% - 8px);
				    left: 32px;
				    background: white;
					}

					&:after {
				    content: " ";
				    display: block;
				    border-bottom: 2px solid $blue-light;
				    position: absolute;
				    width: 50px;
	    			height: 2px;
	    			top: 50%;
	    			left: 50px;
					}
				}

				p, span {
					display: none;
				}
			}
		}

		.timeline-list.personal li {
			border-right: 4px solid $blue;
		}

		.timeline-list.world li {
			border-right: 4px solid $yellow;
		}
	}

	.category-title {
		position: absolute;
    top: 60px;
    text-transform: uppercase;
    font-size: 14px;
    color: $blue;
    line-height: 36px;
    left: 40px;
    z-index: 10;

    &:before {
	    content: " ";
	    width: 12px;
	    height: 0px;
	    border-right: 12px solid #00A7E1;
	    border-top: 12px solid transparent;
	    border-bottom: 12px solid transparent;
	    display: block;
	    position: relative;
	    left: 0;
	    top: 4px;
	    float: left;
	    margin-right: 8px;
    }

    a {
    	color: $blue;
    }
	}

	.container {
		position: absolute;
		top: 185px;
		left: 450px;
		width: 1380px;
		height: 725px;

	 	h1 {
			position: absolute;
    	left: -450px;
    	top: -140px;
    	width: 83.5%;
		}
	}
}