/* Homepage */
.front {
	.site-title {
		font-size: 36px;
		font-weight: 200;
		text-transform: uppercase;
		color: $blue;
		position: absolute;
		left: 0px;
		top: 90px;
		border-bottom: 1px solid $blue;
		padding: 10px 40px 10px 300px;
		width: 60%;
		-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    text-align: right;
    box-sizing: border-box;

    &:after {
    	content: " ";
	    height: 16px;
	    width: 16px;
	    border: 2px solid $yellow;
	    border-radius: 50%;
	    display: block;
	    position: absolute;
	    right: -10px;
	    bottom: -10px;
	    background: white;
    }
	}

	.section-list {
		position: relative;
		margin: 0 auto;
		-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    margin: 350px 0 0 300px;
    overflow: hidden;

    li {
    	-webkit-transition: all .25s ease;
    	-moz-transition: all .25s ease;
    	transition: all .25s ease;
    	float: left;
    	width: 320px;
    	margin-right: 180px;

	    .round {
	    	-webkit-transition: all .25s ease;
		    -moz-transition: all .25s ease;
		    transition: all .25s ease;
		    width: 100%;
		  }
    }

		li:nth-child(1) {
			
		}

		li:nth-child(2) {
			
		}

		li:nth-child(3) {
			margin-right: 0;
		}
	}
}

.front.active,
.inner {
	.site-title {
		-webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
		font-size: 24px;
		border: 0;
		border-top: 1px solid $black;
		color: $black;
		font-weight: 400;
		bottom: 0;
		left: 0;
		position: fixed;
		width: 32%;
		text-align: center;
		background: $white;
		height: 48px;
	}
}