/* Homepage */
.front {
	.site-title {
		font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    left: calc(50% - 300px);
    top: 780px;
    border: 1px solid #000;
    padding: 10px 40px;
    width: 600px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    left: 660px;
    background: #fff;
	}

	.section-list {
		position: relative;
		margin: 0 auto;
    	margin: 350px 0 0 300px;
    	overflow: hidden;

    li {
    	float: left;
    	width: 320px;
    	margin-right: 180px;

	    .round {
		    width: 100%;
		  }
    }

		li:nth-child(1) {
			
		}

		li:nth-child(2) {
			
		}

		li:nth-child(3) {
			margin-right: 0;
		}
	}
}

ul.funders {
	position: absolute;
	width: 100%;
	bottom: 150px;

	li {
		position: absolute;
		top: 32px;
	}

	li.hlf {
		left: 60px;
		top: 50px;
	}

	li.andbc {
		right: 60px;
	}
}

.front.active,
.inner {
	.site-title {
		font-size: 24px;
		border: 0;
		border-top: 1px solid $black;
		color: $black;
		font-weight: 400;
		bottom: 0;
		left: 0;
		position: fixed;
		width: 32%;
		text-align: center;
		background: $white;
		height: 97px;
		line-height: 77px;
	}

	ul.funders {
		display: none;
		visibility: hidden;
	}
}