/* Scrollbars */
::-webkit-scrollbar {
      width: 32px;
    	height: 32px;
    	border-radius: 4px;
    	border-color: rgba($blue-light,0.3);
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: rgba($blue-light,0.2);
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba($blue-light,0.4); 
      height: 32px; 
      /*background-image: url('/img/slider.png');*/
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border: 1px solid darken($blue-light,10%);
      border-radius: 4px;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background: darken($blue-light,10%);
      background-color: transparent;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: darken($blue-light,10%);
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */