html {
}

body {
	font-family: $font;
}

a, input, iframe {
}

//Intro text
.intro {
	font-size: $font-size-med-2;
	font-weight: bold;
}

//Pullquote
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}

//Caption 
.caption {
	font-style: italic;
}

//Passages of text
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}

/* Site Title */
.site-title {
		text-transform: uppercase;
		color: $black;
		position: absolute;
		padding: 10px 30px;
	}

.title {
	font-size: 36px;
	font-weight: 200;
	text-transform: uppercase;
	color: $blue;
	position: absolute;
	left: 0px;
	top: 45px;
	border-bottom: 1px solid $blue;
	padding: 10px 40px 10px 300px;
	width: 60%;
  text-align: right;
  box-sizing: border-box;

  &:after {
  	content: " ";
    height: 16px;
    width: 16px;
    border: 2px solid $yellow;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -10px;
    bottom: -9px;
    background: white;
  }
}
