    <h1 class="title">The Admirals</h1>
    <div class="media">
      
        <img src="/img/600-600.png" alt="Square Thumbnail">
    </div>
    <h2 class="headline">Sir John Jellicoe (Britain)</h2>
    <p>
     Adopted a cautious approach. Was prepared to turn his fleet away from danger should Germany’s weapons prove too advanced.
    </p>
    <h2 class="headline">Reinhard Scheer (Germany)</h2>
    <p>
     Confident that he could defeat the British Grand Fleet but only if several of her warships were removed first. He was attempting this when the British intercepted German radio communications and launched the attack at Jutland.
    </p>    