<section>
    <ul class="section-list secondary">
        <li ng-repeat="battleItem in battleItems" id="battle-{{battleItem.id}}">
            <div class="section-link">
                <a ui-sref="battlepage.item({id: battleItem.id})" id="battlepage{{battleItem.id}}">
                    <div class="round">
                        <img src="../jutland-ang/img/{{battleItem.ImageFileName}}" alt="Post Thumbnail">
                    </div>
                    <h2 class="headline"><span>{{battleItem.title}}</span></h2>
                </a>
            </div>
        </li>
    </ul>
</section>

<section ui-view class="container"></section>