<h1 class="title">Comparison of the Fleets</h1>
<div class="content">	
	<img src="../jutland-ang/img/section-2/comparison.png" class="banner"/>
	<div class="col-2">
		<div class="col">
		    
		    <img src="../jutland-ang/img/section-2/flag_gb.png" class="flag">
		    <img src="../jutland-ang/img/section-2/ship_gb.png" class="icon">
		    <h2 class="headline">151 Ships in the British Grand Fleet</h2>
		</div>
		<div class="col">
		    <img src="../jutland-ang/img/section-2/flag_de.png" class="flag">
		    <img src="../jutland-ang/img/section-2/ship_de.png" class="icon">
		    <h2 class="headline">99 Ships in the German HochSeeFlotte</h2>
		</div>
	</div>
</div>