<h1 class="title">The Admirals</h1>
<div class="content col-2">
    <div class="col">
        
        <img src="../jutland-ang/img/section-2/jellicoe.png" class="pic">
        <img src="../jutland-ang/img/section-2/flag_gb.png" class="flag">
        <h2 class="headline">Sir John Jellicoe (Britain)</h2>
        <p>
        Adopted a cautious approach due to the size of the German Navy and his fear of losing the Royal Navy's wartime fleet. Jellicoe was also suspicious of advanced German weaponry and the greater defensive armour of their ships.
        </p>
    </div>
    <div class="col">
        <img src="../jutland-ang/img/section-2/scheer.png" class="pic">
        <img src="../jutland-ang/img/section-2/flag_de.png" class="flag">
        <h2 class="headline">Reinhard Scheer (Germany)</h2>
        <p>
        A dynamic leader who was confident that he could defeat the Grand Fleet if several of her warships were removed first. As British intelligence had intercepted his communications, the High Seas Fleet were led into an unexpected trap.
        </p> 
    </div>
</div>