    <h1 class="title">Introduction</h1>
    <div class="media">
        <img src="../jutland-ang/img/section-2/battle_map.png" alt="Battle Map">
    </div>
    <div class="content">
        <h2 class="headline">About the Battle of Jutland</h2>
        <p>
            The Battle of Jutland was fought off the coast of Denmark from 31st May - 1st June 1916. The British Grand and German High Seas Fleets collided in the largest naval battle of the Great War.</p>
        <p>
            Jutland became the largest sea battle in naval warfare history due to the number of battle ships and cruisers involved.
        </p>     
    </div>  
