<h1 class="title">Losses</h1>
<div class="media">

    <img src="/img/600-600.png" alt="Square Thumbnail">
</div>

<p>
    Britain lost more ships than the Germans but Admiral Scheer’s plan of exterminating Beatty’s battle cruisers had failed.
</p>

<h2 class="headline">Destroyers</h2>
<p>
    Britain lost 8 destroyers (Nestor one) and Germany lost 5.
</p>
<h2 class="headline">People</h2>
<p>
    Britain lost 6,097 people and Germany lost 2,551.
</p>
<h2 class="headline">The view of Bingham's captor</h2>
<p>
    It was only natural to ask him which side had gained the victory. His short but emphatic reply suggested a very slight acquaintance
    with the niceties of the English language. He simply said ‘I’ and pointed to his chest. At greater length he vaguely
    enumerated the ships lost by the British; of those lost by his own side he would admit to none.”
</p>