<h1 class="title">Consequences</h1>
<div class="media">
   <img src="../jutland-ang/img/section-2/consequences.png" alt="Consequences">
</div>
<div class="content">
	<p>
		A German victory was celebrated directly following the battle due to the greater number of British lives lost and ships destroyed.</p>
	<p>
		As the war progressed, however, the German High Seas Fleet realised they could not afford another naval battle and focused on their military strategies. The Royal Navy retained their maritime dominance of the North Sea.
	</p>

	<blockquote>
	    <p>"Our Fleet losses were, despite the luck that smiled on us, severe, and on 1st June 1916 it was clear to every knowledgeable person, that this battle must be, and would be, the only one"</p>
	    <em>‘Berliner Tageblatt’ German newspaper, December 1918.</em>
	</blockquote>
</div>