<h1 class="title">Losses</h1>
<div class="content">
	<div class="col-2">
		<div class="col">  
		    <img src="../jutland-ang/img/section-2/flag_gb.png" class="flag">
		    <h2 class="headline">Ships sunk during the battle</h2>
		    <h3>Battlecruisers</h3>
			    <img src="../jutland-ang/img/section-2/battlecruiser.png">
			    <img src="../jutland-ang/img/section-2/battlecruiser.png">
			    <img src="../jutland-ang/img/section-2/battlecruiser.png">
		    <h3>Armed Cruisers</h3>
			    <img src="../jutland-ang/img/section-2/armed_cruiser.png">
			    <img src="../jutland-ang/img/section-2/armed_cruiser.png">
			    <img src="../jutland-ang/img/section-2/armed_cruiser.png">
			<h3>Flotilla Leaders</h3>
				<img src="../jutland-ang/img/section-2/flotilla_leader.png">
			<h3>Destroyers</h3>
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
			<h2 class="lives">Lives lost</h2>
				<img src="../jutland-ang/img/section-2/lives_gb.png">
		</div>
		<div class="col">
		    <img src="../jutland-ang/img/section-2/flag_de.png" class="flag">
		    <h2 class="headline">Ships sunk during the battle</h2>
		    <h3>Battlecruisers</h3>
			    <img src="../jutland-ang/img/section-2/battlecruiser.png">
		    <h3>Pre-Dreadnought</h3>
			    <img src="../jutland-ang/img/section-2/armed_cruiser.png">
			<h3>Light Cruisers</h3>
				<img src="../jutland-ang/img/section-2/flotilla_leader.png">
				<img src="../jutland-ang/img/section-2/flotilla_leader.png">
				<img src="../jutland-ang/img/section-2/flotilla_leader.png">
				<img src="../jutland-ang/img/section-2/flotilla_leader.png">
			<h3>Destroyers</h3>
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
				<img src="../jutland-ang/img/section-2/destroyer.png">
			<h2 class="lives">Lives lost</h2>
				<img src="../jutland-ang/img/section-2/lives_de.png">
				<img src="../jutland-ang/img/section-2/lives_key.png" class="key">
		</div>
	</div>
</div>