<h1 class="title">The Battle Action</h1>
<div class="content">
    <div class="col-3">
        <div class="col">
            <h2 class="headline">3.30 - 4.30 p.m. - Battle-cruiser Overview</h2>
            <p>
                Both battle-cruiser fleets, led by Admirals David Beatty and Franz Von Hipper, open fire and immediately HMS Indefatigable is destroyed. Under heavy fire, Admiral Beatty begins to lead the German fleet closer to Admiral Sir John Jellicoe and the remaining British Grand Fleet.</p>
            <p>
                At around 4.00 p.m. Commander Bingham is instructed to lead the 13th, 10th and 9th Flotillas to Beatty's aid.
            </p>
        </div>
        <div class="col">
            <h2 class="headline">4.30 - 5.30 p.m. - Nestor Leads Into Battle</h2>
            <blockquote>
                "I immediately hoisted the signal for full speed and ordered the destroyers to form a single line astern of me…we ran full speed at 35 knots for half an hour, in order to reach an advantageous position on the enemy's bows, such as would enable me to launch the torpedo attack with the greatest possible prospect of success."
            </blockquote>
            <p>
                Bingham soon found himself and HMS Nicator alone in pursuit of SMS Lutzow. After facing heavy enemy fire, HMS Nestor began to sink.
            </p>
        </div>
        <div class="col">
            <h2 class="headline">5.30 - 8.00 p.m. - The Main Battle Fleet</h2>
            <p>
                Admiral Jellicoe deployed his battle-ships in a straight line to face the unsuspecting German fleet. In a daring move Admiral Scheer turned his fleet 180 degrees and used smoke to conceal their whereabouts. He then proceeded to turn his fleet again and sailed into the British guns. Due to their positioning, the British Grand Fleet were able to concentrate overwhelming fire on the leading German ships.
            </p>
            <p>
                With both fleets suffering severe damage, Admiral Jellicoe turned his ships away from the fighting at around 7.15 p.m. and travelled to Wilhelmshaven to launch another attack. By 8.00 p.m. darkness had fallen and the German High Seas Fleet sailed past the British Fleet and to the safety of their home port. The battle was finished.
            </p>
        </div>
    </div>
</div>