<h1 class="title">Consequences</h1>
<div class="media">

    <img src="/img/600-600.png" alt="Square Thumbnail">
</div>

<p>
    The German High Seas Fleet soon realised that, due to their strength and size; the British Grand Fleet would remain in control
    of the sea and a defeat was unattainable.
</p>

<p>
    "Our Fleet losses were, despite the luck that smiled on us, severe, and on 1st June 1916 it was clear to every knowledgeable
    person, that this battle must be, and would be, the only one" ‘Berliner Tageblatt’ German newspaper, December 1918.
</p>