<h1 class="title">Why were we fighting</h1>
<div class="content col-2">
	<div class="col">
		
		<img src="../jutland-ang/img/section-2/fleet_gb.png" class="pic">
		<img src="../jutland-ang/img/section-2/flag_gb.png" class="flag">
		<h2 class="headline">The British Grand Fleet</h2>
		<p>
		    The Royal Navy was the largest naval force in the world during the Great War. Her dominance of the sea ensured international trade as well as the protection of British colonies and shores from invasion. Maintaining this dominance was crucial in the eyes of the navy.
		</p>
	</div>
	<div class="col">
		<img src="../jutland-ang/img/section-2/fleet_de.png" class="pic">
		<img src="../jutland-ang/img/section-2/flag_de.png" class="flag">
		<h2 class="headline">The German High Seas Fleet</h2>
		<p>
		    By 1914 Germany possessed the second largest navy in the world and posed a significant threat to the Royal Navy. Reluctant to wage war whilst outnumbered, the German navy attempted to sink enough British warships to even out their numbers. British intelligence was aware of this plan and the fleets collided in May 1916.
		</p>
	</div>
</div>