    <h1 class="title">The Battle Action</h1>
    <div class="media">
      
        <img src="/img/600-600.png" alt="Square Thumbnail">
    </div>
    <h2 class="headline"></h2>
    <p>
     The Battle Action	15.30- Admiral David Beatty sights Admiral Franz Von Hipper leading battle cruisers. Hipper turns towards the South East in an attempt to lead Beatty towards Germany’s main battle fleet; in the hope of evening out the ships numbers.
	15.48- both sides soon open fire and immediately HMS Indefatigable is destroyed.
	16.26- HMS Queen Mary receives a direct hit on her magazine, explodes and sinks. 20 survive out of 2,000.
	Around 4pm - “When the action commenced, the Nestor was about half a mile ahead of the battle-cruisers, from which position we had the best point of vantage for observing the enemy's salvoes falling around the Lion. The enemy's shooting appeared good, and it was clear that he was concentrating on Admiral Beatty's flagship.” The Admiral and ‘Captain D’ instructed Nestor and her division to lead the attack (the 13th, 10th and 9th Flotillas).
	“I immediately hoisted the signal for full speed and ordered the destroyers to form a single line astern of me…we ran full speed at 35 knots for half an hour, in order to reach an advantageous position on the enemy's bows, such as would enable me to launch the torpedo attack with the greatest possible prospect of success.” Here Bingham observed 15 of the enemy’s destroyers with the same intentions on them.
	At 4.45pm with ships in position fire begun, 2 German destroyers were sunk, “…though it is unreasonable definitely to claim the credit of sinking a given ship where many are concerned, my control officer is still prepared to affirm that the Nestor's guns accounted for one of them.”
	“It must be remembered that although they were numerically superior to us, the enemy's destroyers were neither so large nor so heavily armed.”
    </p>