<h1 class="title">Why were we fighting</h1>
<div class="media">

    <img src="/img/600-600.png" alt="Square Thumbnail">
</div>
<h2 class="headline">The British Grand Fleet</h2>
<p>
    The British had a much bigger navy than Germany because she was dependent upon imports of food and raw materials from other
    parts of the world. A large navy also protected her colonies and supplies which were being sent to her armies. Crucially,
    a strong navy also protected her from being invaded.
</p>
<h2 class="headline">German High Seas Fleet</h2>
<p>
    The Germans were reluctant to wage war on Britain’s navy due to the fact they were heavily outnumbered. They decided to attempt
    to sink enough British warships to even out the numbers. British intelligence was, however, able to intercept German
    radio messages and she prepared for battle.
</p>