    <h1 class="title">Introduction</h1>
    <div class="media">
      
        <img src="/img/600-600.png" alt="Square Thumbnail">
    </div>

        <h2 class="headline">About the Battle of Jutland</h2>
        
        <p>
            Jutland remained the only naval battle in WW1 as both sides were reluctant to enter into battle with strong opponents. 
        </p>
        <p>
            It became the largest sea battle in naval warfare history in terms of the number of battleships and cruisers involved.
        </p>        
