<div class="game">
	<div class="title">
		<h1>The game</h1>
	</div>
	<div class="container">
		<div class="col-triple">
			<div class="col first">
				<h2 class="headline">How to Play</h2>
				<p>The game is set within a 3D virtual environment.</p>	
				<p>Players can navigate their way through the levels using virtual touchscreen joysticks used in contemporary games.</p>
				<p>Instructions on what to do are given throughout the two levels</p>
			</div>
			<div class="col main">
				<img src="../jutland-ang/img/section-3/intro.png" />
				<input type='button' value="Play Game" onclick='sendWebQuery("UnityMessage", { "playGame": 1})' />	
			</div>
			<div class="col last">
				<h2 class="headline">Making the game</h2>
				<p>This game is a collaboration between North Down Museum, Bangor Grammar, Nerve Centre and BT48.com.</p>
				<p>Pupils from Bangor Grammar were involved in all aspects of the game from conception, level design and structure.</p>
			</div>
	<br>
</div>
