    <aside>
        <h2>Personal</h2>
    	<ul class="perosnal-list">
        <li ng-repeat="item in sectionPersonalTimeline" class="timeline-{{item.field_section}}-{{item.nid}}">
          <a href="#/timelineItem/{{item.nid}}'">
            <h3>{{item.title}}</h3>
          </a>
        </li>
    	</ul>
    </aside>
    <aside>
    <h2>World</h2> 
    	<ul class="world-list">
        <li ng-repeat="item in sectionWorldTimeline" class="timeline-{{item.field_section}}-{{item.nid}}">
          <a href="#/timelineItem/{{item.nid}}}'">
            <h3>{{item.title}}</h3>
          </a>
        </li>
    	</ul>
    </aside>
