<section>
    <h1 class="title">{{categoryName}}</h1>
    <ul class="section-list secondary">
        <li ng-repeat="item in timelineSections" id="category-{{item.TID}}">
            <div class="section-link">
                <a ui-sref="timelineSections.section({sectionId: item.TID})" id="category-{{item.TID}}-link">
                    <div class="round">
                        <img src="/img/90-90.png" alt="Post Thumbnail">
                    </div>
                    <h2 class="headline"><span>{{item.name}}</span></h2>
                </a>
            </div>
        </li>
    </ul>
</section>

<section class="timeline" ui-view></section>