<section class="timeline">
    <a href="#/timelineSections/{{section.TID}}"><h1 class="page-title">{{section.name}}</h1></a>
    <ul class="timeline-list personal">
        <li ng-repeat="item in sectionTimeline">
            <div class="timeline-link personal">
                <a ui-sref="timeline.item({id: item.nid})" id="item-{{item.nid}}" class="{{item.field_type}}">
                    <h2 class="headline">{{item.title}}</h2>
                    <p>{{item.field_summary}}</p>
                    <span>{{item.field_timeline_date}}</span>
                </a>
            </div>
        </li>
    </ul>
</section>

<section class="container" ui-view></section>